# Interative file operations for safety
alias rm='rm -i'

alias cp='cp -i'

alias mv='mv -i'

# Git fun
alias gbt="cur=\$(git rev-parse --abbrev-ref HEAD); \
git for-each-ref --sort=-committerdate refs/heads/ --format=\
\"%(color:reset)%(refname:short)|%(color:black bold)%(committerdate:relative)\
%(color:reset)\"| column -ts\"|\" | \
sed -e \"s,  \${cur},\$(tput setaf 2)\$(tput bold)* \${cur},\";"

alias gws='git diff-tree --check $(git hash-object -t tree /dev/null) HEAD'

# Cargo
alias cb='cargo build'

alias cr='cargo run'
